.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e9ebee;
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-redirectToReg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.login-redirectToReg p {
  margin-bottom: 5px;
}

.register-link {
  text-decoration: none;
  color: #000;
}